<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<div th:replace="~{header::head}"></div>


<body>
<div>
  <div class="container">
    <h1>Hello</h1>

    <h1>Form</h1>
    <div class="form-group">
      <form th:action="@{/admin/create}" th:object="${create}" method="post">

        <input th:field="*{id}" hidden="hidden" class="form-control">


        <label class="col-md-3 control-label" for="ccy">ccy</label>
        <div class="col-md-6">
          <input th:field="*{ccy}" id="ccy" class="form-control">
        </div>
        <label class="col-md-3 control-label" for="base">base ccy</label>
        <div class="col-md-6">
          <input th:field="*{baseCcy}" id="base" class="form-control">
        </div>


        <label class="col-md-3 control-label" for="buy">buy</label>
        <div class="col-md-6">
          <input th:field="*{buy}" id="buy" class="form-control">
        </div>

        <label class="col-md-3 control-label" for="sale">sale</label>
        <div class="col-md-6">
          <input th:field="*{sale}" id="sale" class="form-control">
        </div>


        <div class="col-md-9 text-right">
          <button type="submit" class="btn btn-primary btn-lg">create</button>
        </div>
      </form>

    </div>


  </div>
</div>
<div th:replace="~{footer}"></div>
</body>
</html>