<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:fragment="page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>store</title>
  <link rel="stylesheet" th:href="@{../../static/css/style.css}">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<div class="container">


  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">Banking</span>
          <div class="mb-4 lead">

            <div th:if="${not #lists.isEmpty(rate)}">
              <div th:text="${#dates.format(#dates.createNow(), 'dd MM yyyy')}"></div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th th:text="#{label_ccy}"></th>
                  <th th:text="#{label_buy}"></th>
                  <th th:text="#{label_sale}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rateList :${rate}">
                  <td th:text="${rateList.ccy}"></td>
                  <td th:text="${rateList.buy}"></td>
                  <td th:text="${rateList.sale}"></td>
                </tr>
                </tbody>
              </table>
            </div>

            <p th:text="#{label_welcome}">Welcome to start page</p>

          </div>
          <ul class="navbar-nav mr-auto col-sm-3 col-md-3">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/?lang=us}">English <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/?lang=ru}">Russia <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <a th:href="@{/login}" class="btn btn-link" th:text="#{label_sing_in}">sing in</a>
        </div>
      </div>
    </div>
  </div>

</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>