<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="us"
      th:fragment="page">

<div th:replace="~{header::head}"></div>

<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul sec:authorize="hasRole('USER')" class="navbar-nav mr-auto col-sm-3 col-md-3">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/user?lang=us}">English <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/user?lang=ru}">Russia <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div sec:authorize="isAuthenticated()" class="col-md-3 text-right">
      <h1><a th:href="@{/logout}"><span class="nav-link" sec:authentication="name"></span></a></h1>
    </div>
  </div>
</nav>

<form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0">
  <button class="btn btn-secondary my-2 my-sm-0" type="button"
          data-toggle="modal"
          data-target="#loginModal">
  </button>
</form>

<div class="modal" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin" th:action="@{/login}" method="post">

          <div class="form-label-group">
            <label th:text="#{label_login}" for="inputEmail">User Name</label>
            <input th:text="#{label_login}" type="text" id="inputEmail" name="username"
                   class="form-control"
                   th:placeholder="#{label_login}" required autofocus>
          </div>

          <div class="form-label-group">
            <label th:text="#{label_password}" for="inputPassword">Password</label>
            <input th:text="#{label_password}" type="text" id="inputPassword" name="password"
                   class="form-control"
                   th:placeholder="#{label_password}" required autofocus>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input th:text="#{label_remember}" type="checkbox" value="remember-me">
            </label>
          </div>
          <button th:text="#{label_sing_in}" class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
          </button>
          <p class="mt-5 mb-3 text-muted text-center">© 2018-2019</p>
        </form>

      </div>
      <div class="modal-footer">
        <button th:text="#{label_reset}" type="reset" class="btn btn-primary">Reset</button>
        <button th:text="#{label_close}" type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div sec:authorize="hasRole('ADMIN')" class="col-lg-7 mr-3" th:insert="~{this::admin}"></div>
    <div sec:authorize="hasRole('USER')" class="col-lg-7  mr-3"
         th:insert="~{user :: content}"></div>
    <div class="col-lg-4" th:insert="~{topic::topic}"></div>
  </div>

</div>

<div th:replace="~{footer}"></div>
</body>
</html>