<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:include="layout :: page">

<body>
<div th:fragment="topic">
  <div th:if="${not #lists.isEmpty(rates)}">
    <div><p>Course PB</p></div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th th:text="#{label_ccy}"></th>
        <th th:text="#{label_buy}"></th>
        <th th:text="#{label_sale}"></th>
        <th sec:authorize="hasRole('ADMIN')">edit</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="rateList :${rates}">
        <td th:text="${rateList.ccy}"></td>
        <td th:text="${#numbers.formatDecimal(rateList.buy,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal(rateList.sale,1,2)}"></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/edit/{id}(id=${rateList.id})}">edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="scrol" th:if="${not #lists.isEmpty(courses)}">
    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th>name</th>
        <th>course</th>
        <th>code</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="nbu:${courses}">
        <td th:text="${nbu.currencyName}"></td>
        <td th:text="${#numbers.formatDecimal(nbu.course,1,2)}"></td>
        <td th:text="${nbu.code}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>