<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">


<body>
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-right">
        <h1 th:text="'Hello ' + ${name}"></h1>
      </div>
      <div class="col-md-3 text-right">
        <h1><a th:href="@{/logout}">log out</a></h1>
      </div>
    </div>

    <script>
      function al() {
        alert('message');
      }

    </script>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Add trade
    </button>
    <button id="json-example" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">get json
    </button>


    <!---->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"-->
         <!--aria-labelledby="exampleModalLabel" aria-hidden="true">-->
      <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<h5 class="modal-title" id="exampleModalLabel">New trade</h5>-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
              <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<form th:action="@{/add}" th:object="${newDeal}" method="post">-->

              <!--<input hidden="hidden" th:field="*{id}">-->
              <!--<label class="col-form-label" for="name">currency type</label>-->
              <!--<div class="col-md-9">-->
                <!--<select th:field="*{currencyType}" id="name" class="form-control">-->
                  <!--<option th:each="currencyType :${cType}" th:value="${currencyType}"-->
                          <!--th:text="${currencyType}"></option>-->
                <!--</select>-->
              <!--</div>-->

              <!--<label class="col-form-label" for="name1">trade type</label>-->
              <!--<div class="col-md-9">-->
                <!--<select th:field="*{tradeType}" id="name1" class="form-control">-->
                  <!--<option th:each="tradeType :${tType}" th:value="${tradeType}"-->
                          <!--th:text="${tradeType}"></option>-->
                <!--</select>-->
              <!--</div>-->

              <!--<label class="col-form-label" for="quantity">Quantity</label>-->
              <!--<div class="col-md-9">-->
                <!--<input th:field="*{quantity}" id="quantity" name="quantity" type="number"-->
                       <!--placeholder="Quantity"-->
                       <!--class="form-control">-->
                <!--<h1 th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></h1>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--<button type="submit" class="btn btn-primary">Add</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->


    <div th:if="${message}" class="alert alert-success" role="alert">
      <h1 th:text="${message}">delete success</h1>
    </div>


    <div th:if="${not #lists.isEmpty(all)}" th:remove="tag">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>currency type</th>
          <th>trade type</th>
          <th>quantity</th>
          <th>amount</th>
          <th>create date</th>
          <th>active</th>
          <th>manager</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trade: ${all}">
          <td th:text="${trade.id}">id</td>
          <td th:text="${trade.currencyType}">c type</td>
          <td th:text="${trade.tradeType}">t type</td>
          <td th:text="${trade.quantity}">quantity</td>
          <td th:text="${trade.amount}">amount</td>
          <td th:text="${#dates.format(#dates.createNow(), 'dd MM yyyy HH:mm')}">create date</td>
          <td th:if="${trade.active}" th:text="#{deal_active}">
          <td th:unless="${trade.active}" th:text="#{deal_closed}">
          </td>
          <td th:text="${managerName}"></td>
          <td><a th:href="@{/edit/__${trade.id}__}">edit</a></td>
          <td><a onclick="al()" th:href="@{/delete/__${trade.id}__}">delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


</body>
</html>